{% extends "layout.html" %}
{% block content %}
<div id="play_area">
<div id="name_to_guess">
</div>

<audio id="timesup_audio" src="{{ url_for('static', filename='timesup.mp3') }}"></audio>
<div id="timer">
30s
</div>

  <div id="controls">
  {% if room.round == 1 %}
    <input type="button" class="btn btn-outline-secondary disabled" value="Pass">
  {% else %}
    <input type="button" class="btn btn-secondary" onclick="next_name(correct=false)" value="Pass">
  {% endif %}
  <input type="button" class="btn btn-success" onclick="next_name(correct=true)" value="Correct">
  {% if room.round > 1 %}
  <input type="button" class="btn btn-danger" onclick="next_name(correct=false)" value="Wrong">
  {% endif %}
  </div>
</div>

<div id="end_of_turn_area" class="hidden">
  <table>
    <tr><td></td><td><label class="switch"><input type="checkbox" id="toggle"><div class="slider round"></div></label></td></tr>
  </table>
  <input type="button" class="btn btn-primary" onclick="submit_answers()" value="Submit">
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='script.js') }}"></script>
<script>
var names_left = {{ names_left|safe }};
start("{{ url_for('play', room_id=room.id) }}",
      "{{ url_for('main', room_id=room.id) }}");
</script>
{% endblock %}

